/**
 * @file
 * Defines the base set of css required to render the canvas.
 */

/**
 * All components of the 'canvas' are laid over-top of one another.
 */
#canvas-body {
  position: relative;
  padding: 0 15px 15px 15px;
}
#canvases, #svg-wrapper, #annotations {
  position: absolute;
}
#canvases {
  z-index: -1;
}
#annotations {
  z-index: 1;
}
#svg-wrapper {
  z-index: 2;
}