version: '2'

## ISLE Localdomain Docker-compose.  
## 
## This is generic docker-compose that when will load a complete Islandora Stack ready to test.
## You do NOT need to edit anything here!
##
## Quick Guide Instruction (Mac, *nix machines only: real or virtual)
## YOU DO NOT NEED TO CLONE THIS REPOSITORY. Just save save the entire contents of this into a docker-compose.yml.
## Quick Guide Instructions How to Run:  
## 0) If your user is not already added to the "docker" group (to find out type `groups`) do so now:
##    `echo sudo usermod -aG docker $USER` - you MUST log out and log back in, ahd check `groups` again. 
## 1) Place this docker-compose.yml in an EMPTY directory.  
## 2) In terminal or console navigate to the directory that contains your docker-compose.yml.  
## 3) Type:  `docker-compose up -d`
## 4) Please wait.
##
## What you're watching: Docker is orchestrating all necessary components of Islandora and running them for us.
## The process includes download of large files, and may take some time.
## 
## When docker has completed the job it will tell us that things are "done" 
## example output:
## ```
## Creating isle-mysql-ld ... done
## Creating isle-solr-ld ... done
## Creating isle-fedora-ld ... done
## Creating isle-apache-ld ... done
## Creating isle-proxy ... done
## ```
## 4) The final step is to initalize the current version of Islandora!  In terminal please type:
##    `docker exec -it isle-apache-ld bash /tmp/isle_drupal_build_tools/install_isle_ld_site.sh` 
##
## 5) Visit http://localhost of if you installed it on a VM http://VM_IP and login with:
##      username: isle_localdomain_admin
##      password: isle_localdomain_adminpw2018  
##
## Stop editing here if you would like to try the Islandora ISLE default installation. You are not required to edit anything below.
## ## ##
services:
  mysql:
    image: islandoracollabgroup/isle-mysql:latest
    container_name: isle-mysql-ld
    environment:
      - MYSQL_ROOT_PASSWORD=ild_mysqlrt_2018
    networks:
      - isle-internal
    ports:
      - "3306:3306"
    volumes:
      - db-data-ld:/var/lib/mysql
      - ./data/mysql/log:/var/log/mysql

  fedora:
    image: islandoracollabgroup/isle-fedora:latest
    container_name: isle-fedora-ld
    networks:
      - isle-internal
    ports:
      - "8080:8080"
    tty: true
    depends_on:
      - mysql
      - solr
    volumes:
      - fed-data-ld:/usr/local/fedora/data
      - ./data/fedora/log/fedora:/usr/local/fedora/server/logs
      - ./data/fedora/log/tomcat:/usr/local/tomcat/logs

  solr:
    image: islandoracollabgroup/isle-solr:latest
    container_name: isle-solr-ld
    networks:
      - isle-internal
    ports:
      - "8091:8080"
    tty: true
    depends_on:
      - mysql
    volumes:
      - solr-data-ld:/usr/local/solr/collection1/data
      - ./data/solr/logs:/usr/local/tomcat/logs

  apache:
    image: islandoracollabgroup/isle-apache:latest
    container_name: isle-apache-ld
    networks:
      isle-internal:
        aliases:
          - isle.localdomain
    tty: true
    depends_on:
      - mysql
      - fedora
      - solr
    volumes:
      - apache-data-ld:/var/www/html
      - ./data/apache/log/apache:/var/log/apache2

  proxy:
    image: islandoracollabgroup/isle-proxy:latest
    container_name: isle-proxy
    networks:
      isle-internal:
      isle-external:
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - mysql
      - fedora
      - solr
      - apache


# Defined networks
networks:
  isle-internal:
  isle-external:

volumes:
  db-data-ld:
  fed-data-ld:
  solr-data-ld:
  apache-data-ld:
