version: '2'
#labels:
#  org.label-schema.version: "ISLE Alpha 2.0"
#  org.label-schema.description: "ISLE Base Image with sample site isle.localdomain docker-compose.yml for non-production usage."
#  org.label-schema.license: "Apache-2.0"
#  org.label-schema.vcs-url: "git@github.com:Islandora-Collaboration-Group/ISLE.git"
#  org.label-schema.vendor: "Islandora Collaboration Group (ICG) - islandora-consortium-group@googlegroups.com"
#  org.label-schema.schema-version: "1.0"

services:
  mysql:
    build: ./mysql
    image: islandoracollabgroup/isle-mysql:alpha2
    container_name: isle-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=ild_mysqlrt_2018
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
      - ./data/mysql/log:/var/log/mysql

  fedora:
    build: ./fedora
    image: islandoracollabgroup/isle-fedora:alpha2
    container_name: isle-fedora
    ports:
      - "8080:8080"
      - "8777:80"
    tty: true
    depends_on:
      - mysql
    volumes:
      - fed-data:/usr/local/fedora/data
      - ./data/fedora/log/fedora:/usr/local/fedora/server/logs
      - ./data/fedora/log/apache:/var/log/apache2
      - ./data/fedora/log/tomcat:/usr/local/tomcat/logs
    extra_hosts:
      - "isle.localdomain:" # enter ip here of host server or vm etc

  solr:
    build: ./solr
    image: islandoracollabgroup/isle-solr:alpha2
    container_name: isle-solr
    ports:
      - "8091:8080"
      - "8983:8983"
    tty: true
    volumes:
      - solr-data:/usr/local/solr/collection1/data
      - ./data/solr/logs:/usr/local/tomcat/logs

  apache:
    build: ./apache
    image: islandoracollabgroup/isle-apache:alpha2
    container_name: isle-apache
    ports:
      - "80:80"
    tty: true
    depends_on:
      - mysql
      - fedora
    volumes:
      - apache-data:/var/www/html
      - ./data/apache/log/apache:/var/log/apache2
      #- ./config/isle_localdomain/apache/macosx_settings.php:/var/www/html/sites/default/settings.php
    extra_hosts:
      - "isle.localdomain:" # enter ip here of host server or vm etc

volumes:
  db-data:
  fed-data:
  solr-data:
  apache-data:
