.md-content A {
	text-decoration: underline;
}

code {
	padding: 1px 3px;
	background: #f5f5f5;
	border: solid 1px #ccc;
	color: #333;
	overflow: visible;
}

.md-typeset CODE
{
	margin: 0 0px;
	padding: 1px 3px;
}

.md-typeset UL LI, .md-typeset OL LI
{
	margin-bottom: 0;
	margin-left: 40px;
}

.md-typeset H1
{
	color: #000;
	font-weight: bold;
	margin: 0 0 25px 0;
}

.md-typeset H2, H3, H4, H5, H6, H7
{
	font-weight: bold;
}
