.islandora-form-fieldpanel-panel {
  border: 1px solid #aaa;
  padding: 5px;
}

.islandora-form-fieldpanel-pane {
  border: 1px solid #aaa;
  padding: 5px;
  margin: 5px;
}

.ui-fieldpane-delete-button {
  display: inline;
}

.ui-fieldpane-move-down-button,
.ui-fieldpane-move-up-button {
  display: none;
}
