/*
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description: The basic image page is a simple flexible layout page
    that breaks down to two columns when 2 sidebars are visible
*/

.islandora-audio-content {
  background-color: #F2F2F2;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  width: auto;
  max-width: 100%;
  float: left;
}

.islandora-audio-content img {
  margin: 0;
  display: block;
}

.islandora-audio-metadata {
  display: block;
  clear: both;
}

/* This is kept for legacy reasons. */
dl.islandora-audio-fields {
  width:100%;
}

dl.islandora-metadata-fields {
    width:100%;
}

.islandora-audio-metadata dt {
  font-weight: normal;
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

.islandora-audio-metadata dd {
  padding-left: 40px;
}


.islandora-audio-metadata dt,
.islandora-audio-metadata dd {
  border-top:1px solid #e5e5e5;
}

.islandora-audio-metadata dt.first,
.islandora-audio-metadata dd.first {
  border-top:0;
}

body.two-sidebars .islandora-audio-sidebar {
    clear: both;
    width: 100%;
}

@media all and (min-width: 768px) {

  body.no-sidebars .islandora-audio-sidebar {
    padding-left: 20px;
  }

  body.no-sidebars .islandora-audio-sidebar {
    float: right; /* LTR */
    width: 35%;
    clear: none;
  }

}
