div.islandora_xacml_block > div.form-item {
  *display: inline;
  display: inline-block;
  display: -moz-inline-block;
  min-width: 275px;
  *vertical-align: 2%;
  *zoom: 1;
}

div.islandora_xacml_block_description .form-submit {
  vertical-align: 135%;
}

div.islandora_xacml_selects {
  *display: inline;
  display: inline-block;
  display: -moz-inline-block;
  *vertical-align: 2%;
  *zoom: 1;
}

div.islandora_xacml_selects > div.form-item {
  float: left;
  margin-right: 10px;
}

div.islandora_xacml_block_description > div.form-item {
  *display: inline;
  display: inline-block;
  display: -moz-inline-block;
  min-width: 275px;
  *vertical-align: 2%;
  *zoom: 1;
}
