<?xml version="1.0" encoding="UTF-8" ?>
<!-- $Id$ -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d (%c{1}) %m%n"/>
    </layout>
  </appender>

  <appender name="FILEOUT" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="/var/log/tomcat7/fedoragsearch.daily.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d (%c{1}) %m%n"/>
    </layout>
  </appender>

  <logger name="dk.defxws.fedoragsearch" additivity="false">
    <level value="DEBUGLEVELG" />
    <appender-ref ref="FILEOUT"/>
  </logger>

  <logger name="dk.defxws.fgszebra" additivity="false">
    <level value="LOGLEVEL" />
    <appender-ref ref="FILEOUT"/>
  </logger>

  <logger name="dk.defxws.fgslucene" additivity="false">
    <level value="LOGLEVEL" />
    <appender-ref ref="FILEOUT"/>
  </logger>

  <logger name="dk.defxws.fgssolr" additivity="false">
    <level value="DEBUGLEVELS" />
    <appender-ref ref="FILEOUT"/>
  </logger>

  <root>
    <level value="WARN" />
    <appender-ref ref="STDOUT"/>
  </root>

</log4j:configuration>
