.xml-form-elements-inline-element > .form-item,
.form-item .xml-form-elements-inline-element > .form-item {
  display: inline;
  float: left;
  margin-right: 1em;
}
.xml-form-elements-inline-element {
  float: left;
  clear:both;
}
