[mysqld]
# * Fine Tuning
key_buffer_size			= 16M
sort_buffer_size		= 4M
read_buffer_size		= 1M
table_open_cache		= 3000
max_allowed_packet		= 128M
myisam_recover_options	= BACKUP
# Additional settings
thread_stack            = 192K
thread_cache_size       = 8
max_connections         = 100
table_open_cache        = 64

# ** Logging and Replication
expire_logs_days    = 10
max_binlog_size     = 100M

# ** Query Cache Configuration
query_cache_limit		= 1M
query_cache_size		= 16M

# ** InnoDB
innodb_thread_concurrency		= 10
innodb_buffer_pool_size = 256M #128M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_log_buffer_size = 10M #1M
innodb_log_file_size = 128M #5M
innodb_file_per_table

character_set_server = utf8
collation_server = utf8_general_ci

[isamchk]
key_buffer		= 16M