/**
 * Undo the global css settings from BookReader.css.
 */
div#BookReader {
  position: static;
  overflow: visible;
  vertical-align: baseline;
  background-color: #ccc;
  margin: 0;
  padding: 0;
}
#BookReader h3 {
  font-size: 20px;
  font-family:  "News Gothic MT","Trebuchet MS",Geneva,Helvetica,sans-serif;
  font-weight: 700;
  color: #dedede;
}
#BookReader a {
  outline: none;
}
div#BRtoolbar {
  margin-bottom: -40px;
}
div#BRcontainer {
  position: relative;
  height: 680px;
  background-color: #ccc;
}
div#BRpageview {
  background-color: #ccc;
}
div#BRnav {
  position: relative;
  margin-top: -40px;
}
div#BRfulltext .BRfloat {
  min-width: 385px;
}
div#BRfulltext .BRfloatMeta {
  overflow: auto;
  height: auto !important;
  /* Prevents hiding text. */
  max-height: 600px;
}
div.BRfloatHead {
  background-color: #ccc !important;
  padding: 10px 10px 15px;
}
a.floatShut {
  margin: 12px 10px;
}
div.BRpagediv1up {
 overflow: visible;
}
.BRicon.full_text {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/BRicons.png);
  background-repeat: no-repeat;
  background-position: -1240px 0px;
}
.BRicon.full_text:hover {
  background-position: -1280px 0px;
}
button.BRicon {
  background-image: url(../images/BRicons.png);
}
button.BRicon:hover {
  background-image: url(../images/BRicons.png);
}
button#btnSrch {
  background-image: none;
  padding: 0;
  margin: 0;
}
button#btnSrch:hover {
  background-image: none;
}
div.BRprogresspopup {
  position: relative;
  margin:auto;
  max-width: 300px;
}
.textTop {
  font-size: 10px;
}
.textRight {
  float: right;
  width: 50%;
}
.textLeft {
  float: left;
  width: 50%;
}

/*
 * Colorbox (used for displaying textarea with page OCR)
 *
 * Used to handle conflict with the colorbox Drupal module
 * pertaining to the textarea
 */
#colorbox {
  top: 335px !important;
}
#colorbox, #cboxOverlay, #cboxWrapper, #cboxContent, #cboxLoadedContent {
  max-width: 100%;
  height: 100% !important;
}
#cboxWrapper {
  background: none; /* Used to eliminate white background */
}
#cboxWrapper table {
  margin-top: 1em;
}
#cboxContent {
  border-color: #E2DCC5;
  padding: 0.5em;
}
#cboxMiddleLeft {
  height: 0 !important; /* Positions textarea correctly */
}
